<!DOCTYPE html>
<html>
<head>
    <title>Bank System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="auth.js"></script>
    <link href="register.css" rel="stylesheet" />
</head>
<body ng-app="Authentication" ng-controller="AuthController">
<form ng-submit="auth()">
    <label for="login">Login:</label><br>
    <input type="text" id="login" name="login" ng-model="registrationRequest.login"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" ng-model="registrationRequest.password"><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>