<!DOCTYPE html>
<html>
<head>
    <title>Bank System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="register.js"></script>
    <link href="register.css" rel="stylesheet" />
</head>
<body ng-app="Registration" ng-controller="AuthController">
<form ng-submit="register()">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" ng-model="registrationRequest.name"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" ng-model="registrationRequest.surname"><br>
    <label for="login">Login:</label><br>
    <input type="text" id="login" name="login" ng-model="registrationRequest.login"><br>
    <label for="type">Type:</label><br>
    <input type="text" id="type" name="type" ng-model="registrationRequest.type"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" ng-model="registrationRequest.password"><br>
    <input type="submit" value="Submit" ng-click="redirectToAuth()"/>
    <a href=""  ng-click="redirectToAuth()">Log In</a>
</form>
</body>
</html>
